{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.security.password_reset_request_confirmed.title' | trans }}{% endblock %}

{% block body %}
    <div>{{ 'pages.security.password_reset_request_confirmed.confirmation' | trans }}</div>
    <div><a href="{{ path('app_login') }}">{{ 'pages.security.password_reset_request_confirmed.link_to_login' | trans }}</a></div>
{% endblock %}

