{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.security.password_reset_request_confirmed.title' | trans }}{% endblock %}

{% block body %}
    <div>{{ 'pages.security.password_reset_request_confirmed.confirmation' | trans }}</div>
{% endblock %}

