{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.event_creation.title' | trans }}{% endblock %}

{% block body %}
    <div class="container flex flex-col items-center justify-center h-screen">
        <h2>Event creation form</h2>

        {{ component('EventForm') }}
    </div>
{% endblock %}
