{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}

<section id="hero" class="w-screen h-screen flex justify-center">
    <twig:Hero />
</section>

<section id="create-event" class="w-screen min-h-[50vh] flex justify-center bg-gradient-to-r from-cyan-500 to-blue-500 shadow-md">
Create a new event
</section>

<section id="request-event" class="w-screen min-h-[50vh] flex justify-center">
request a new event
</section>

<section id="go-to-own-event" class="w-screen min-h-[50vh] flex justify-center bg-gradient-to-r from-cyan-500 to-blue-500 shadow-md">
go to own event recipient page
</section>
{% endblock %}
