<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Gift-Eazy{% endblock %}</title>
        <meta
                name="viewport"
                content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86" />

        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </body>
</html>
